  
header {
    background-color: #ddbea9;

    color: black;

    text-align: center;
}

h1 {
    color: white;
}

.header-content {
    height: 75px;
}

/* TODO: adapt for all screens */
.header-text-container {
    background-color: #9e2a2b;


    
    position: relative;
    width: 30%;
    top: 13px;


    max-width: fit-content;
    margin: 0 auto;
    border-radius: 8px;
}

.padding {
    padding-bottom: 25px;
}

.col-sm-8 {
    text-align: center;
}

#sriram-photo {
    display: inline;
    width: 400px;
    height: 400px;
}

#about-link-top-page {
    color: black;
    font-size: 20px;

}
#welcome-message {
    font-size: 70px;
    padding-bottom: 25px;
}

.reviews-divider {
   background-color: #ddbea9;

    padding: 20px;
    
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: #9e2a2b;

    text-align: center;

}

.padding-small {
    padding: 2px;
}

#jinya-1 {
    display: inline;
    width: 400px;
    height: 300px;
}

.col-sm-2 {
    text-align: center;
}


/*.modal-dialog {
    background-color: white;
    width: 90%
}*/

.modal-content {
    background-color: white;
}



#review-button-1 {
    width: 75%; 
    height: 50vh; 
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.ramen-labels {
    font-size: 35px;
}
.ramen-content {
    font-size: 25px;
}

.rating {
    font-size: 35px;
}

